@page "/adminDashboard"
@using DomainLayer.Models
@model RentalSystem.Pages.Admin.AdminDashboardModel
@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="card h-100 p-0 radius-12 overflow-hidden">
    <div class="card-header border-bottom bg-base py-16 px-24">
        <h6 class="mb-0 text-lg">Top Rentals</h6>
    </div>


    <div class="card-body p-24">

        <!-- Фильтрация -->
        <div class="mb-3">
            @await Html.PartialAsync("Utils/_Filter", Model.CarRentalPagination)
        </div>

        <div class="table-responsive scroll-sm">
            <table class="table bordered-table mb-0">
                <thead>
                    <tr>
                        <th scope="col">Model</th>
                        <th class="text-center">Total Earnings</th>
                        <th class="text-center">Total Days Rented</th>
                        <th class="text-center">Total Rentals</th>
                        <th class="text-center">First Rental Date</th>
                        <th class="text-center">Last Rental Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CarRentalInfo rentalInfo in Model.CarRentalInfos)
                    {
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="@rentalInfo.Image" alt="@rentalInfo.Brand" style="width:80px" class="flex-shrink-0 me-12 radius-8 me-12">
                                    <div class="flex-grow-1">
                                        <h6 class="text-md mb-0 fw-normal">@rentalInfo.Model</h6>
                                        <span class="text-sm text-secondary-light fw-normal">@rentalInfo.Brand</span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                @rentalInfo.TotalEarnings
                            </td>
                            <td class="text-center">
                                @rentalInfo.TotalDaysRented
                            </td>
                            <td class="text-center">
                                <span class="bg-success-focus text-success-main px-32 py-4 rounded-pill fw-medium text-sm">
                                    @rentalInfo.RentalsCount
                                </span>
                            </td>
                            <td class="text-center">
                                @if (rentalInfo.FirstRentalDate != null)
                                {
                                    @rentalInfo.FirstRentalDate.Value.ToShortDateString()
                                }
                                else
                                {
                                    <span>Empty data</span>
                                }
                            </td>
                            <td class="text-center">
                                @if (rentalInfo.LastRentalDate != null)
                                {
                                    @rentalInfo.LastRentalDate.Value.ToShortDateString()
                                }
                                else
                                {
                                    <span>Empty data</span>
                                }
                            </td>
                            <td>
                                <a href="/getCar?id=@rentalInfo.CarId" class="btn btn-primary">Visit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- Пагинация -->
        @await Html.PartialAsync("Utils/_Pagination", Model.CarRentalPagination)

    </div>


    
</div>